.table_frame{
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

table {
  background-color: white;
  display: table;
  margin: 0 auto;
  border: 0px;
  max-width: 100%;
  text-align: center;
  font-size: medium;
}

.th_label{
  padding: 10px 10px;
}

.th_title {
  font-weight: medium;
  width: 100px;
}

.th_detail {
  font-weight: lighter;
  width: 100px;
}
